{% extends "base.html" %}
{% load static %}

{% block head %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            'ocean-blue': '#1DA1F2', 
          },
        },
      },
    }
  </script>
{% endblock %}

{% block content %}

<div class="page-header bg-white p-8 rounded-lg shadow-md mb-6">  {% if article  %}
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Edit: {{ article.name }}</h1> {% else %}
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Add an Article</h1> {% endif %}
    <img src="" alt="" class="max-w-full h-auto">  </div>

<form action="" method='POST' class="bg-white p-8 rounded-lg shadow-md"> {% csrf_token %}
<table class="table-auto w-full">  {{ form.as_table }}
</table>
<button type="submit" class="bg-ocean-blue hover:bg-ocean-blue-dark text-white font-bold py-2 px-4 rounded mt-4">  Submit
</button>
</form>

{% endblock %}