<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Europe</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-logo-container">
            <p>Logo here</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{% url "article_create" %}">Create Article</a>
                </li>
                <li>see my posts</li>
                <li>see all</li>
                <li>Signout</li>
                <li>home</li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock  %}
    </main>
</body>
</html>

