{% extends "base.html" %}
{% load static %}
{% block head %}{% endblock %}
{% block content %}

<h1>Article Details</h1>


<div>
    {% for photo  in article.photo_set.all  %}
        <img src="{{ photo.url }}" alt="">
        {% empty %}

        <div>No photos uploaded</div>
    
    {% endfor %}
    <form action="{% url 'add_photo' article.id %}" enctype="multipart/form-data" method="POST" class="subsection-content">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <button type="submit" class="btn">Upload Photo</button>
    </form>
</div>
<div>
    <h1>{{ article.name }}</h1>
    <p>{{ article.content }}</p>
    <a href="{% url "article_update" article.id %}">Update</a>
    <a href="{% url "article_delete" article.id %}">Delete</a>
</div>

{% endblock %}