{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}

{% block head %}
{% endblock %}

{% block content %}
    <section class='bg-blue-300 w-full min-h-[380px]'>
        <img src="{% static 'images/EuroLand.jpg' %}" class='object-cover' alt="">
    </section>
    <form action="{% url "article_filter" %}" method="get" class='mx-[40%] bg-green-400'>
        <label for="country">Select County</label>
        <select name="country" id="country">
            {% for article in  countryset  %}
                <option value="{{ article }}"> {{ article }}</option>
            {% endfor %}

        </select>
        <button type="submit">Filter</button>
    </form>
    <section class=" py-5">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-7 p-3  mx-[15%] mt-5 min-h-[500px]">

            {% for article in articles  %}
            
            <div class="bg-green-100 rounded-lg shadow-xl">    
                <a href="{% url "article_detail" article.id %}">
                    <img src="{% static "images/carnival.jpg" %}" class='h-[60%] w-full object-cover' alt="" >
                </a>
                <h1 class='px-2 text-lg mb-2 mt-2'>{{ article.name }}</h1>
                <p class='text-xs px-3 leading-relaxed'>{{ article.summary }}</p>
                <div class="text-indigo-500 text-sm">
                    <a href="" class='flex justify-end items-center'>Learn More
                        <svg class="w-4 h-4 m-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                          </svg>
                    </a>
                    
                </div>
            </div>
            {% endfor %}
            
            
    
        </div>
    </section>


{% endblock %}























{% comment %} {% extends "base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}

<h1>Landing Page</h1>
{% for article in articles  %}
<div>
    <h2>{{article.name }}</h2>
    <p>{{ article.summary }}</p>
    <p>{{article.country}}</p>
    <p>{{article.city}}</p>
    <a href="{% url "article_detail" article.id %}">Visit Article</a>
</div>

{% endfor %}

{% endblock %} {% endcomment %}